Source: buildah
Section: devel
Priority: optional
Maintainer: Jonathan Springer <jonpspri@gmail.com>
Build-Depends: debhelper-compat (= 12),
  bash-completion,
  dh-golang,
  golang-go,
  go-md2man,
  libbtrfs-dev,
  libdevmapper-dev,
  libgpgme-dev,
  libseccomp-dev,
  pkg-config
Standards-Version: 4.4.1
Homepage: https://github.com/containers/buildah
Vcs-Browser: https://github.com/containers/buildah
Vcs-Git: https://github.com/containers/buildah.git

Package: buildah
Architecture: any
Depends: ${misc:Depends},
  libgpgme11,
  libseccomp2
Recommends: uidmap
Description: A tool that facilitates building OCI images
 The Buildah package provides a command line tool that can be used to
 .
   *  create a working container, either from scratch or using an image as a
      starting point
   *  create an image, either from a working container or via the instructions
      in a Dockerfile
   *  images can be built in either the OCI image format or the traditional
      upstream docker image format
   *  mount a working container's root filesystem for manipulation
   *  unmount a working container's root filesystem
   *  use the updated contents of a container's root filesystem as a filesystem
      layer to create a new image
   *  delete a working container or an image
   *  rename a local container
